.profile__container{
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    width: 100%;
    align-items: center;    

}

.profile__info,
.booking__details{
    border-radius: 5px;
    box-shadow: 0px 2px 2.67px 0px #1018281A;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.profile__banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.profile__avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    position: relative;
    margin-top: -5rem;
    background-color: white;
    margin-bottom: 1rem; 
}

.user__email{
    color: var(--text-color)
}

.booking__details{
margin-left: 1rem;
}

@media only screen and (max-width: 768px) {

    .booking__details{
        margin-left: 0rem;
        margin-top: 1rem !important; 
     }

    
}