.common__section {
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), 
    url("../assets/images/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.common__section h1 {
    font-size: 2.5rem;
    color: #fff;
}



@media only screen and (max-width:992px) {
    .common__section {
        height: auto;
    }

    .common__section h1{
        padding-top: 2rem;
    }
}