.tour__swiper img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    aspect-ratio: 3 / 2;    
}  

.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.1); 
  transition: color 0.3s ease;
}

.tour__swiper:hover .swiper-button-next,
.tour__swiper:hover .swiper-button-prev {
  color: rgba(255, 255, 255, 0.3);  
}